//
   Created by Administrator on 2017/1/26.

extends layout

block content
    h1= title
    p Welcome to1111111111111111111 #{title}
    a 用户名:
    input#name(
    type='text'
    value='agreement')
    a 密码：
    input#password(
    type='password'
    value='123456')
    button#submit提交